<div id="visual">
  <div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fad fa-utensils"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Nutricionista</div>
        </a>

        <li class="nav-item">
          <a id='home' class="nav-link collapsed" data-toggle="collapse" data-target="#gestSucC" aria-expanded="false"
             aria-controls="gestSucC" (click)="mostrarPantalla('principal')">
            <i class="fa-regular fa-building"></i>
            <span>Home</span>
          </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Funciones Mixtas
        </div>


        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('registro')">
            <i class="fas fa-solid fa-registered"></i>
            <span>Registro</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('gestionProductos')">
            <i class="fas fa-solid fa-bowl-food"></i>
            <span>Gestión de productos/platillos</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('busquedaAsociacionClientesComoPacientes')">
            <i class="fas fa-solid fa-person-falling"></i>
            <span>Búsqueda y Asociación de clientes como pacientes</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('gestionPlanes')">
            <i class="fas fa-solid fa-laptop-file"></i>
            <span>Gestión de planes</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('asignacionPlan')">
            <i class="fas fa-solid fa-hospital-user"></i>
            <span>Asignación de un plan a un paciente en una fecha o periodo</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('seguimientoPaciente')">
            <i class="fas fa-solid fa-user-pen"></i>
            <span>Seguimiento Paciente:</span>
          </a>
        </li>

        <!-- solo esas pantallas para admin :D -->


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="mostrarDropdown()">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nombre}}</span>
                  <img class="img-profile rounded-circle"
                       src="/assets/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown" id="dropdown">
                  <a class="dropdown-item">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->




















          <!-- AQUI COMIENZAN LAS PANTALLAS -->
          <!--------------------------------------------- COMIENZA PANTALLA PRINCIPAL --------------------------------------------->
          <div id="principal">
            <div class="container-fluid">
              <!-- Page Heading -->
              <h1 class="h3 mb-4 text-gray-800">Información General</h1>

              <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total de Estudiantes
                          </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            140
                          </div>
                        </div>
                        <div class="col-auto">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                               class="bi bi-person-fill" viewBox="0 0 20 20">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Clases Impartidas</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Indoor Cycling <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Pilates <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Yoga <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Zumba <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="80"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Natación <span class="float-right"></span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div> -->

            </div> <!-- termina el page content -->
          </div>
          <!--------------------------------------------- TERMINA PANTALLA PRINCIPAL --------------------------------------------->




          <!-- EMPIEZA LA VENTANA GESTION DE PRODUCTOS/PLATILLOS -->

          <div id="registro" class="container-fluid">
            TEST

          </div>

          <div id="gestionProductos" class="container-fluid">

            <h1 style="font-size:40px;" class="h3 mb-4 text-gray-800">Gestión de productos/platillos</h1>
            <h2 style="font-size:20px;" class="h3 mb-4 text-gray-800">Complete los datos del platillo o producto que desea agregar.</h2>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosDescripcion">Código de barras</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosBarras">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosDescripcion">Descripción</label>
                <input type="text" class="form-control form-control-user" id="gestionProductosDescripcion">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosEnergia">Energía (Kcal)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosEnergia">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosGrasa">Grasa (g)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosGrasa">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosSodio">Sodio (mg)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosSodio">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosCarbohidratos">Carbohidratos (g)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosCarbohidratos">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosProteina">Proteína (g)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosProteina">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosVitaminas">Vitaminas</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosVitaminas">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosCalcio">Calcio (mg)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosCalcio">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosHierro">Hierro (mg)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosHierro">
              </div>

            </div>

            <a class="btn btn-outline-success btn-user btn-block" (click)="crearNuevoProducto()">
              Guardar
            </a>

          </div>

          <!-- TERMIINA VENTANA GESTION DE PRODUCTOS/PLATILLOS -->


          <!-- EMPIEZA VENTANA BUSQUEDA Y ASOCIACIÓN DE CLIENTES COMO PACIENTES -->

          <div id="busquedaAsociacionClientesComoPacientes" class="container-fluid">

            <h1 style="font-size:40px;" class="h3 mb-4 text-gray-800">Búsqueda y Asociación de clientes como pacientes</h1>
            <h2 style="font-size:20px;" class="h3 mb-4 text-gray-800">Seleccione el individuo que desea asociar a su lista de pacientes</h2>

            <div class="form-group row">
              <div class="col-sm">
                <label for="busquedaAsociacionClientesComoPacientesSELECT">Paciente</label>
                <select class="form-control form-control-user" id="busquedaAsociacionClientesComoPacientesSELECT"></select>
              </div>

            </div>

            <a class="btn btn-outline-success btn-user btn-block">
              Asociar
            </a>

          </div>

          <!-- TERMINA VENTANA BUSQUEDA Y ASOCIACIÓN DE CLIENTES COMO PACIENTES -->


          <!-- EMPIEZA VENTANA GESTION DE PLANES -->

          <div id="gestionPlanes" class="container-fluid">
            <h1 style="font-size:40px;" class="h3 mb-4 text-gray-800">Gestión de planes</h1>
            <h2 style="font-size:20px;" class="h3 mb-4 text-gray-800">Seleccione el plan a gestionar. Respectivamente, podrá eliminaralo, modificarlos o crear uno nuevo.</h2>

            <div class="form-group row">
              <div class="col-sm">
                <label for="gestionPlanesSELECT">Seleccione un plan</label>
                <select class="form-control form-control-user" id="gestionPlanesSELECT"></select>
              </div>

              <br><br><br><br>

              <a class="btn btn-outline-success btn-user btn-block">
                Eliminar
              </a>

            </div>

            <br>

            <h3 style="font-size:20px;" class="h3 mb-4 text-gray-800">Datos del plan seleccionado. Cambie los datos que desea modificar y luego clickee en "Confirmar cambios"</h3>

            <div class="col-sm">
              <label for="gestionPlanesESTADOACTUAL">El plan seleccionado se conforma de los siguientes productos:</label>
              <textarea class="form-control form-control-user" id="gestionPlanesESTADOACTUAL" rows="4"
                        cols="50"></textarea>
            </div>

            <br>
            <div class="form-group row">
              <div class="col-sm-6" id="comidas1"></div>

              <div class="col-sm-6" id="comidas2"></div>

            </div>

            <div class="form-group row">
              <div class="col-sm">
                <label for="gestionPlanesNombreExistente">Nombre del plan</label>
                <input type="text" class="form-control form-control-user" id="gestionPlanesNombreExistente">
              </div>

              <div class="col-sm">
                <label for="gestionPlanesCaloriasExistente">Total de calorias</label>
                <input type="number" class="form-control form-control-user" id="gestionPlanesCaloriasExistente" readonly>kCAL
              </div>

              <br><br><br><br>

              <a class="btn btn-outline-success btn-user btn-block">
                Modificar
              </a>
            </div>

            <br>

            <h3 style="font-size:20px;" class="h3 mb-4 text-gray-800">Cree un nuevo plan</h3>

            <div class="form-group row">


              <mark>HAY QUE DE ALGUNA MANERA GENERAR CHECKBOXES DINAMICAS, QUE CARGUEN TODOS LOS PRODUCTOS APROBADOS PARA MOSTRAR, QUE SE PUEDAN CHECKEAR, GENERAR LA LISTA QUE COMPONE
                A TODOS LOS TIEMPOS  DE COMIDA, Y LUEGO ENVIAR EL JSON</mark>


              <div class="col-sm">
                <label for="gestionPlanesNombreNuevo">Nombre del plan</label>
                <input type="text" class="form-control form-control-user" id="gestionPlanesNombreNuevo">
              </div>

              <div class="col-sm">
                <label for="gestionPlanesCaloriasNuevo">Total de calorias</label>
                <input type="text" class="form-control form-control-user" id="gestionPlanesCaloriasNuevo">
              </div>

              <br><br><br><br>

              <a class="btn btn-outline-success btn-user btn-block">
                Crear
              </a>

            </div>


          </div>

          <!-- TERMINA VENTANA GESTION DE PLANES -->


          <!-- EMPIEZA VENTANA ASIGNACION DE PLAN A PACIENTE -->


          <div id="asignacionPlan" class="container-fluid">
            <h1 class="h3 mb-4 text-gray-800">Asignación de plan a un paciente en una fecha o periodo</h1>
            <h2 style="font-size:20px;" class="h3 mb-4 text-gray-800">Seleccione un paciente, un plan, y el periodo de tiempo por el que esa persona deberá seguir ese régimen</h2>

            <div class="form-group row">
              <div class="col-sm">
                <label for="asignacionPlanPaciente">Seleccione un paciente</label>
                <select class="form-control form-control-user" id="asignacionPlanPaciente"></select>
              </div>

              <div class="col-sm">
                <label for="asignacionPlanPlan">Seleccione un plan</label>
                <select class="form-control form-control-user" id="asignacionPlanPlan"></select>
              </div>

              <div class="col-sm">
                <label for="asignacionPlanTiempo">Números de días de seguimiento del plan</label>
                <input type="number" class="form-control form-control-user" id="asignacionPlanTiempo">
              </div>

            </div>

            <a class="btn btn-outline-success btn-user btn-block">
              Asignar
            </a>


          </div>

          <!-- TERMINA VENTANA ASIGNACION DE PLAN A PACIENTE -->

          <!-- EMPIEZA VENTANA SEGUIMIENTO DE PLAN -->

          <div id="seguimientoPaciente" class="container-fluid">
            <h1 class="h3 mb-4 text-gray-800">Seguimiento paciente</h1>

            <div class="col-sm">
              <label for="seguimientoPacienteSELECT">Seleccione un paciente</label>
              <select class="form-control form-control-user" id="seguimientoPacienteSELECT"></select>
            </div>

            <br>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="seguimientoPacienteRegistro">Registro diario:</label>
                <textarea class="form-control form-control-user" id="seguimientoPacienteRegistro" rows="4"
                          cols="50" readonly></textarea>
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="seguimientoPacienteRetroalimentacion">Retroalimentacion:</label>
                <textarea class="form-control form-control-user" id="seguimientoPacienteRetroalimentacion" rows="4"
                          cols="50"></textarea>
              </div>
            </div>

            <a class="btn btn-outline-success btn-user btn-block">
              Enviar retroalimentación
            </a>



          </div>

          <!-- TERMINA VENTANA SEGUIMIENTO DE PLAN -->

          <!-- AQUI COMIENZAN LAS PANTALLAS -->

























          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; GymTEC 2023</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
    </div>
  </div>
</div>
