<div id="visual">
  <div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fad fa-utensils"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Nutricionista</div>
        </a>

        <li class="nav-item">
          <a id='home' class="nav-link collapsed" data-toggle="collapse" data-target="#gestSucC" aria-expanded="false"
             aria-controls="gestSucC" (click)="mostrarPantalla('principal')">
            <i class="fa-regular fa-building"></i>
            <span>Home</span>
          </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Funciones Mixtas
        </div>


        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('registro')">
            <i class="fas fa-solid fa-registered"></i>
            <span>Registro</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('gestionDeProductos')">
            <i class="fas fa-solid fa-bowl-food"></i>
            <span>Gestión de productos/platillos</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('busquedaYAsociacionDeClientesComoPacientes')">
            <i class="fas fa-solid fa-person-falling"></i>
            <span>Búsqueda y Asociación de clientes como pacientes</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('gestionDePlanes')">
            <i class="fas fa-solid fa-laptop-file"></i>
            <span>Gestión de planes</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('asignacionPlanAPacienteEnUnaFechaOPeriodo')">
            <i class="fas fa-solid fa-hospital-user"></i>
            <span>Asignación de un plan a un paciente en una fecha o periodo</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('seguimientoPaciente')">
            <i class="fas fa-solid fa-user-pen"></i>
            <span>Seguimiento Paciente:</span>
          </a>
        </li>

        <!-- solo esas pantallas para admin :D -->


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="mostrarDropdown()">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nombre}}</span>
                  <img class="img-profile rounded-circle"
                       src="/assets/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown" id="dropdown">
                  <a class="dropdown-item">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->




















          <!-- AQUI COMIENZAN LAS PANTALLAS -->
          <!--------------------------------------------- COMIENZA PANTALLA PRINCIPAL --------------------------------------------->
          <div id="principal">
            <div class="container-fluid">
              <!-- Page Heading -->
              <h1 class="h3 mb-4 text-gray-800">Información General</h1>

              <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total de Estudiantes
                          </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            140
                          </div>
                        </div>
                        <div class="col-auto">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                               class="bi bi-person-fill" viewBox="0 0 20 20">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Clases Impartidas</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Indoor Cycling <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Pilates <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Yoga <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Zumba <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="80"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Natación <span class="float-right"></span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div> -->

            </div> <!-- termina el page content -->
          </div>
          <!--------------------------------------------- TERMINA PANTALLA PRINCIPAL --------------------------------------------->




          <!--------------------------------------------- COMIENZA PANTALLA Registro: --------------------------------------------->
          <div id="registro">
            Esta es la pantalla de registro
          </div>
          <!--------------------------------------------- TERMINA PANTALLA Registro: --------------------------------------------->




          <!--------------------------------------------- COMIENZA PANTALLA  Gestión de productos/platillos: --------------------------------------------->
          <div id="gestionDeProductos">
            Esta es la pantalla de gestion de productos
          </div>
          <!--------------------------------------------- TERMINA PANTALLA  Gestión de productos/platillos: --------------------------------------------->




          <!--------------------------------------------- COMIENZA PANTALLA   Búsqueda y Asociación de clientes como pacientes: --------------------------------------------->
          <div id="busquedaYAsociacionDeClientesComoPacientes">
            Esta es la pantalla de  Búsqueda y Asociación de clientes como pacientes
          </div>
          <!--------------------------------------------- TERMINA PANTALLA   Búsqueda y Asociación de clientes como pacientes: --------------------------------------------->




          <!--------------------------------------------- COMIENZA PANTALLA   Gestión de planes: --------------------------------------------->
          <div id="gestionDePlanes">
            Esta es la pantalla de Gestión de planes:
          </div>
          <!--------------------------------------------- TERMINA PANTALLA   Gestión de planes: --------------------------------------------->




          <!--------------------------------------------- COMIENZA PANTALLA   Asignación de un plan a un paciente en una fecha o periodo: --------------------------------------------->
          <div id="asignacionPlanAPacienteEnUnaFechaOPeriodo">
            Esta es la pantalla de Asignación de un plan a un paciente en una fecha o periodo:
          </div>
          <!--------------------------------------------- TERMINA PANTALLA   Asignación de un plan a un paciente en una fecha o periodo: --------------------------------------------->




          <!--------------------------------------------- COMIENZA PANTALLA   Seguimiento Paciente: --------------------------------------------->
          <div id="seguimientoPaciente">
            Esta es la pantalla de Seguimiento Paciente:
          </div>
          <!--------------------------------------------- TERMINA PANTALLA   Seguimiento Paciente: --------------------------------------------->

          <!-- AQUI COMIENZAN LAS PANTALLAS -->

























          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; GymTEC 2023</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
    </div>
  </div>
</div>
