<app-nav-var [color]="'info'"></app-nav-var>
<div id="login">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">
              <div class="center">
                <i class="fa-solid fa-image-portrait fa-2xl" style="color: #54B4D3;"></i>
                Login
              </div>
            </h5>



            <form #form2="ngForm" (ngSubmit)="login(form2)">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="correo" step="1" name="email" ngModel>
                <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" ngModel>
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="showPass" (click)="mostrarContra()">
                <label class="form-check-label" for="showPass">
                  Mostrar Contraseña
                </label>
              </div>

              <div class="d-grid">
                <button class="btn btn-info btn-login text-uppercase fw-bold" type="submit">Login</button>
                <button class="btn btn-danger btn-login text-uppercase fw-bold" style="margin-left: 10px;" (click)="cambiarPantalla(0, $event)">Sign Upx</button>
              </div>
              <hr class="my-4">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; GymTEC 2023</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="signin">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">
              <div class="center">
                <i class="fa-solid fa-image-portrait fa-2xl" style="color: #54B4D3;"></i>
                Sign Up
              </div>
            </h5>



            <form #form="ngForm" (ngSubmit)="register(form)">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="cedula" step="1" placeholder="Cédula" name="cedula" ngModel>
                <label for="floatingInput">Cédula</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" ngModel>
                <label for="floatingInput">Nombre</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="apellido1" placeholder="Apellido 1" name="apellido1" ngModel>
                <label for="floatingInput">Apellido 1</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="apellido2" placeholder="Apellido2" name="apellido2" ngModel>
                <label for="floatingInput">Apellido 2</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="fecha" placeholder="Fecha de Nacimiento" name="fechaDeNacimiento" ngModel>
                <label for="floatingInput">Fecha de Nacimiento</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="peso" step="0.01" placeholder="Peso en Kg"name="peso" ngModel>
                <label for="floatingInput">Peso en Kg</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="imc" step="0.1" placeholder="Índice de Masa Corporal" name="imc" ngModel>
                <label for="floatingInput">Índice de Masa Corporal</label>
              </div>
              <div class="form-floating mb-3">
                <select type="text" class="form-control" id="pais" placeholder="Costa Rica" name="pais" ngModel></select>
                <label for="floatingInput">País donde reside</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="cintura" placeholder="0" name="cintura" ngModel>
                <label for="floatingInput">Medida de cintura</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="cuello" placeholder="0" name="cuello" ngModel>
                <label for="floatingInput">Medida de cuello</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="caderas" placeholder="0" name="caderas" ngModel>
                <label for="floatingInput">Medida de caderas</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="musculo" placeholder="0" name="musculo" ngModel>
                <label for="floatingInput">% de musculo</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="grasa" placeholder="0" name="grasa" ngModel>
                <label for="floatingInput">% de grasa</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="calorias" placeholder="0" name="calorias" ngModel>
                <label for="floatingInput">Consumo diario máximo de calorías</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" name="email" ngModel>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword1" placeholder="Password" name="password" ngModel>
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="showPass1" (click)="mostrarContra2()">
                <label class="form-check-label" for="showPass">
                  Mostrar Contraseña
                </label>
              </div>

              <div class="d-grid">
                <button class="btn btn-info btn-login text-uppercase fw-bold" type="submit">Sign Up</button>
                <button class="btn btn-danger btn-login text-uppercase fw-bold" style="margin-left: 10px;" (click)="cambiarPantalla(1, $event)">Login</button>
              </div>
              <hr class="my-4">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; GymTEC 2023</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
