<div id="visual">
  <div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fad fa-utensils"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Cliente/NutriTEC</div>
        </a>

        <li class="nav-item">
          <a id='home' class="nav-link collapsed" data-toggle="collapse" data-target="#gestSucC" aria-expanded="false"
             aria-controls="gestSucC" (click)="mostrarPantalla('principal')">
            <i class="fa-regular fa-building"></i>
            <span>Home</span>
          </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Funciones Mixtas
        </div>


        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('registroMedidas')">
            <i class="fas fa-solid fa-ruler"></i>
            <span>Registro de Medidas</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('registroConsumo')">
            <i class="fas fa-regular fa-address-card"></i>
            <span>Registro diario de consumo</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('gestionProductosPlatillos')">
            <i class="fas fa-brands fa-product-hunt"></i>
            <span> Gestión de productos/platillos</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('gestionRecetas')">
            <i class="fas fa-solid fa-stroopwafel"></i>
            <span> Gestión de Recetas</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse"
             (click)="mostrarPantalla('reporteAvance')">
            <i class="fas fa-solid fa-file-invoice"></i>
            <span> Reporte de Avance</span>
          </a>
        </li>

        <!-- solo esas pantallas para admin :D -->


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="mostrarDropdown()">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nombre}}</span>
                  <img class="img-profile rounded-circle"
                       src="/assets/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown" id="dropdown">
                  <a class="dropdown-item">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal" (click)="logout()">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->




















          <!-- AQUI COMIENZAN LAS PANTALLAS -->
          <!--------------------------------------------- COMIENZA PANTALLA PRINCIPAL --------------------------------------------->
          <div id="principal">
            <div class="container-fluid">
              <!-- Page Heading -->
              <h1 class="h3 mb-4 text-gray-800">{{nombre}}</h1>

              <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class=" col mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Información General
                          </div>
                          <br>

                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            Cedula:
                            <br><br>
                            <input type="number" class="form-control form-control-user" id="cedula">
                          </div><br>

                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            Nombre:
                            <br><br>
                            <input type="text" class="form-control form-control-user" id="nombre">
                          </div><br>

                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            Primer Apellido:
                            <br><br>
                            <input type="text" class="form-control form-control-user" id="apellido1">
                          </div><br>

                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            Segundo Apellido:
                            <br><br>
                            <input type="text" class="form-control form-control-user" id="apellido2">
                          </div><br>

                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            Fecha de Nacimiento:
                            <br><br>
                            <input type="date" class="form-control form-control-user" id="fechaDeNacimiento">
                          </div><br>

                          <a class="btn btn-outline-info btn-user btn-block">
                            Guardar
                          </a>

                        </div>
                        <div class="col-auto">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                               class="bi bi-person-fill" viewBox="0 0 20 20">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Clases Impartidas</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Indoor Cycling <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Pilates <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Yoga <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Zumba <span class="float-right"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="80"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Natación <span class="float-right"></span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div> -->

            </div> <!-- termina el page content -->
          </div>
          <!--------------------------------------------- TERMINA PANTALLA PRINCIPAL --------------------------------------------->




          <!-- EMPIEZA LA VENTANA GESTION DE REGISTRO DE MEDIDAS -->

          <div id="registroMedidas" class="container-fluid">
            <h1 style="font-size:40px;" class="h3 mb-4 text-gray-800">Registro de medidas</h1>
            <h2 style="font-size:20px;" class="h3 mb-4 text-gray-800">Complete los datos de las medidas que se le solicitan junto con la fecha del día de hoy.</h2>


            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="registroMedidasFecha">Fecha actual</label>
                <input type="date" class="form-control form-control-user" id="registroMedidasFecha">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="registroMedidasCintura">Cintura (cm)</label>
                <input type="text" class="form-control form-control-user" id="registroMedidasCintura">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="registroMedidasCuello">Cuello (cm)</label>
                <input type="text" class="form-control form-control-user" id="registroMedidasCuello">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="registroMedidasCadera">Cadera (cm)</label>
                <input type="text" class="form-control form-control-user" id="registroMedidasCadera">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="registroMedidasMusculo">Porcentaje de músculo</label>
                <input type="text" class="form-control form-control-user" id="registroMedidasMusculo">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="registroMedidasGrasa">Porcentaje de grasa</label>
                <input type="text" class="form-control form-control-user" id="registroMedidasGrasa">
              </div>
            </div>

            <a class="btn btn-outline-info btn-user btn-block">
              Guardar
            </a>


          </div>

          <!-- TERMIINA VENTANA GESTION DE REGISTRO DE MEDIDAS -->


          <!-- EMPIEZA VENTANA REGISTRO DIARIO DE CONSUMO -->

          <div id="registroConsumo" class="container-fluid">
            <h1 style="font-size:40px;" class="h3 mb-4 text-gray-800">Registro diario de consumo</h1>
            <h2 style="font-size:20px;" class="h3 mb-4 text-gray-800">Seleccione el tiempo de comida, el alimento o producto y agreguelo a su registro</h2>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="registroConsumoProducto">Producto o alimento</label>
                <select class="form-control form-control-user" id="registroConsumoProducto"></select>
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0"> <!-- HAY QUE CARGAR AQUI LOS TIEMPOS DE COMIDA -->
                <label for="registroConsumoTiempo">Tiempo de comida</label>
                <select class="form-control form-control-user" id="registroConsumoTiempo"></select>
              </div>


            </div>

            <a class="btn btn-outline-info btn-user btn-block">
              Registrar
            </a>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="registroConsumoCodigo">Código de producto o alimento</label>
                <select class="form-control form-control-user" id="registroConsumoCodigo"></select>
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0"> <!-- HAY QUE CARGAR AQUI LOS TIEMPOS DE COMIDA -->
                <label for="registroConsumoTiempo2">Tiempo de comida</label>
                <select class="form-control form-control-user" id="registroConsumoTiempo2"></select>
              </div>
            </div>

            <a class="btn btn-outline-info btn-user btn-block">
              Registrar
            </a>

          </div>

          <!-- TERMINA VENTANA REGISTRO DIARIO DE CONSUMO -->


          <!-- EMPIEZA VENTANA GESTION DE PRODUCTOS/PLATILLOS -->

          <div id="gestionProductosPlatillos" class="container-fluid">
            <h1 style="font-size:40px;" class="h3 mb-4 text-gray-800">Gestión de productos/platillos</h1>
            <h2 style="font-size:20px;" class="h3 mb-4 text-gray-800">Complete los datos del platillo o producto que desea agregar.</h2>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosDescripcion">Código de barras</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosBarras">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosDescripcion">Descripción</label>
                <input type="text" class="form-control form-control-user" id="gestionProductosDescripcion">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosEnergia">Energía (Kcal)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosEnergia">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosGrasa">Grasa (g)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosGrasa">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosSodio">Sodio (mg)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosSodio">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosCarbohidratos">Carbohidratos (g)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosCarbohidratos">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosProteina">Proteína (g)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosProteina">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosVitaminas">Vitaminas (Para seleccionar varias presione Ctrl y de click)</label>
                <br>
                <select id="gestionProductosVitaminas" multiple>
                  <option value="A">A</option>
                  <option value="B1">B1</option>
                  <option value="B2">B2</option>
                  <option value="B3">B3</option>
                  <option value="B6">B6</option>
                  <option value="B9">B9</option>
                  <option value="B12">B12</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                  <option value="E">E</option>
                  <option value="K">K</option>
                </select>
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosCalcio">Calcio (mg)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosCalcio">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="gestionProductosHierro">Hierro (mg)</label>
                <input type="number" class="form-control form-control-user" id="gestionProductosHierro">
              </div>

            </div>

            <a class="btn btn-outline-success btn-user btn-block">
              Guardar
            </a>

          </div>

          <!-- TERMINA VENTANA GESTION DE PRODUCTOS/PLATILLOS -->


          <!-- EMPIEZA VENTANA GESTION RECETAS -->


          <div id="gestionRecetas" class="container-fluid">
            <h1 style="font-size:40px;" class="h3 mb-4 text-gray-800">Gestión de recetas</h1>

            <div class="form-group row">
              <div class="col-sm-6" id="comidas1"></div>

              <div class="col-sm-6" id="comidas2"></div>

            </div>

          </div>

          <!-- TERMINA VENTANA GESTION RECETAS -->

          <!-- EMPIEZA VENTANA REPORTE DE AVANCE -->

          <div id="reporteAvance" class="container-fluid">
            <h1 style="font-size:40px;" class="h3 mb-4 text-gray-800">Reporte de avance</h1>
            <h2 style="font-size:20px;" class="h3 mb-4 text-gray-800">Seleccione un rango de tiempo para mostrar las medidas de cada uno de los registros realizados</h2>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="reporteAvanceInicial">Fecha inicial</label>
                <input type="date" class="form-control form-control-user" id="reporteAvanceInicial">
              </div>

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="reporteAvanceFinal">Fecha final</label>
                <input type="date" class="form-control form-control-user" id="reporteAvanceFinal">
              </div>
            </div>

            <br>

            <a class="btn btn-outline-info btn-user btn-block">
              Generar registro
            </a>

            <br>

            <div class="col-sm">
              <label for="reporteAvanceRegistro">El registro muestra los siguientes datos:</label>
              <textarea class="form-control form-control-user" id="reporteAvanceRegistro" rows="4"
                        cols="50"></textarea>
            </div>

            <br>

            <a class="btn btn-outline-info btn-user btn-block">
              Generar PDF
            </a>


          </div>

          <!-- TERMINA VENTANA REPORTE DE AVANCE -->


          <!-- AQUI COMIENZAN LAS PANTALLAS -->

























          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; GymTEC 2023</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
    </div>
  </div>
</div>
