  <div id="reporte">
  <div class="container mt-6 mb-7">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-xl-7">
        <div class="card">
          <div class="card-body p-5">
            <h2>
              {{nombre}}
            </h2>

            <div class="border-top border-gray-200 pt-4 mt-4">
              <div class="row">
                <div class="col-md-6 text-md-end">
                  <div class="text-muted mb-2">Realizada:</div>
                  <strong>{{fecha}}</strong>
                </div>
              </div>
            </div>

            <div class="border-top border-gray-200 mt-4 py-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="text-muted mb-2">Paciente</div>
                  <strong>
                    {{nombre}}
                  </strong>
                  {{cedula}}
                  <br>
                  <p class="fs-sm">
                    {{direccion}}
                    <br>
                    <a class="text-purple">{{email}}</a>
                    <br>

                  </p>
                </div>
                <div class="col-md-6">
                  <br>
                  <strong>
                    {{birthdate}}
                  </strong>
                  <br>
                  {{pais}}
                  <br>
                  Consumo máximo de calorias asignado: {{max}}
                </div>
              </div>
            </div>

            <div id="tabla"></div>


          </div>
          <a class="btn btn-dark btn-lg card-footer-btn justify-content-center text-uppercase-bold-sm hover-lift-light">
            NutriTEC &nbsp;
            <i class="fas fa-thin fa-utensils" style="color: #ffffff;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
